// Основные цвета проекта
$color-bg: #ffffff;            // фон всего сайта
$color-text: #222;             // основной текст
$color-accent: #e63946;        // акцент (hover, кнопки и т.д.)
$color-shadow: #0000001a;

// Header
$color-header-bg: #282828;     // фон шапки
$color-topbar-bg: #3d3d3d;     // фон верхней полоски
$color-header-text: #ffffff;   // текст в шапке
$color-banner-bg:  #b4adad;

// Footer 
$color-footer-bg: #282828;     // фон подвала
$color-footer-text: #ffffff;   // текст в подвале 

