.product {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: #0000001a solid 1px;
  margin-bottom: 35px;

  &__image {
     position: relative; 
    width: 85%;
    height: 70%;
    background: inherit;
    margin: 20px;
    overflow: hidden; 
  }

   &__imageItem {
    object-fit: contain; 
    object-position: center; 
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
