@use '../../app/styles/variables' as *;

.footer {
  width: 100%;
  height: 70px;
  background: $color-footer-bg;
  color: $color-footer-text;
  border-top: $color-accent solid 3px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 20px; 
  }
}
